#################
## ignore some files or path that you dont want to submit to github
#################

bin/
ipch/
*.obj
*.pcb
*.pch
*.pdb
*.ilk
*.tlog
*.sdf
*.suo
*.idb
*.lastbuildstate
*.opensdf
*.log